.container {
  width: calc(100% - 10pxpx);
  max-width: 100%;
  min-width: 960px;
  background-color: #2e353d;
  color: #adbac7;
  padding: 10px 0 0 55px;
  line-height: 1.4;
  margin: 0;
}

.container:after {
  display: table;
  content: "";
  clear: both;
}

body {
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width:960px;
  font-family: "Arial", "Helvetica", sans-serif;
  background: #22272e;
}

.logo {
  float: left;
  width: 200px;
  height: 200px;
  padding: 55px 35px 55px;
  margin: 10px 20px 0;
  border-radius: 50%;
}
 
.title {
  text-align: center;
  padding: 50px 150px 0;
}

dl {
  margin: 50px;
  list-style: none;
}

dt {
  display: inline-flex;
  color: #316dca;
}

.nav {
  float: right;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-transform: uppercase;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #adbac7;
}

.ul_nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding-right: 100px;
}

.li {
  margin: 10px;
}

h1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: right;
  color: #adbac7;
}

h2 {
  margin: 30px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  color: #adbac7;

}

.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #adbac7;
}

.bloks {
  display: flex;
  padding: 0 50px 30px;
  flex-wrap: wrap;
  text-decoration:none;
}

.date {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 170px;
  padding: 0 15px;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  color: #adbac7;
}

.company {
  display: inline-block;
  width: 50px;
  min-width: 550px;
  width: calc(100% - 250px);
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 30px;
  border: 0;
  outline: none;
  background: transparent;
  color: #316dca;
}

.resume {
  padding: 0 30px;
  margin: 0 0 0 170px;
  width: 150px;
  width: calc(100% - 200px);
  line-height: 1.6;
  text-align: justify;
}

.person {
  display: inline-block;
  min-width: 450px;
  width: calc(100% - 250px);
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 30px 0 50px;
  border: 0;
  outline: none;
  background: transparent;
  color: #316dca;
}

.phone {
  line-height: 1.6;
  text-align: justify;
  font-weight: bold;
}

.icons {
  display: inline-flex;
  float: right;
  width: 50px;
  height: 50px;
  list-style: none;
}

.info {
  padding: 25px 15px;
line-height: 1.6;
text-decoration: none;
}

.documents {
  margin: 0 20px;
  line-height: 1.6;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #545d68;
}

.about {
  width: calc(100% - 250px);
  margin: 50px 0 20px 150px;
  line-height: 1.6;
  text-align: justify;
  color: #adbac7;
}

.about-me {
  text-align: center;
  padding: 0 150px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #adbac7;
}

.info-about-me {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-break: normal;
  font-weight: normal;
  color: #adbac7;
}

.certificates {
  text-align: center;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #adbac7;
}

.certificates-dt {
  width: calc(100% - 100px);
  line-height: 1.6;
  text-align: justify;
  color: #adbac7;
}

.experience {
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #545d68;
}

.education {
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #545d68;
}

.recommendations {
  margin: 20px 20px 0 20px;
  border-radius: 10px;
  border: 1px solid #545d68;
}

.test_doc {
  padding: 0 0 20px;
  margin: 20px 20px;
  border-radius: 10px;
  border: 1px solid #545d68;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-break: normal;
  font-weight: normal;
  color: #adbac7;
}

a {
  text-decoration: none;
  color: #adbac7;
}

.no_button {
  position: static;
  display: inline-block;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #57ab5a;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.social {
  width: 100%;
  color: #316dca;
} 

.social-blue {
  text-decoration: double;
  font-weight: bold;
  color: #316dca;
}
